{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "rules": {
        "linebreak-style": ["error", "windows"]
    },
    "extends": [
        "airbnb-base"
    ],
    "env": {
        "browser": true,
        "node": true
    }
}